@import "tailwindcss";

* {
   font-family: "Poppins", sans-serif;
}

.nav-links {
   background-color: #1f512b;
   padding: 1rem 2rem;
   border-radius: 10000px;
}

.nav-links ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 2rem;
}
